<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="chart-container">
        <div class="chart-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5">
                <span class="title">
                  Hourly average transfer time
                </span>
              </div>
              <div class="col-md-7">
                <ui-select ng-model="origin" class="origin-select" on-select="updateOrigin($item, $model)">
                  <ui-select-match placeholder="Select or search an origin in the list...">
                    <i class="glyphicon glyphicon-globe"></i>
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="origin in availableOrigins | filter: $select.search">
                    <span ng-bind-html="origin.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
                <div  datepicker-popup="{{format}}" 
                      ng-model="chartStartDate" 
                      is-open="datepicker.opened" 
                      min-date="datepicker.minDate"
                      max-date="datepicker.maxDate" 
                      datepicker-options="datepicker.ptions" 
                      ng-required="true" 
                      clear-text="Last 24 hours"
                      show-weeks="false"
                      init-date="datepicker.maxDate"
                      starting-day="1"
                      year-range="3"
                      close-text="Close">
                  <button type="button" class="btn btn-default datepicker-toggle" ng-click="openDatepicker($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span ng-if="!chartStartDate">Last 24 hours</span>
                    {{chartStartDate | date:'MMM dd, yyyy'}}
                    <i class="caret"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chart-body">
          <chart-loading-overlay ng-if="dataLoading" style="height: 300px;"></chart-loading-overlay>
          <linechart data="chartData" options="chartOptions" height="300"></linechart>
        </div>
        <div class="chart-footer">
          <div class="title">3 month overview</div>
          <chart-loading-overlay ng-if="timelineDataLoading" style="height: 110px;"></div>
          <linechart data="timelineData" options="timelineOptions" height="110"></linechart>
        </div>
    </div>
  </div>
</div>